In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

# Carregando a base

In [2]:
df_consumo_cerveja = pd.read_csv('Consumo_cerveja.csv')
df_consumo_cerveja.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Data                         365 non-null    object
 1   Temperatura Media (C)        365 non-null    object
 2   Temperatura Minima (C)       365 non-null    object
 3   Temperatura Maxima (C)       365 non-null    object
 4   Precipitacao (mm)            365 non-null    object
 5   Final de Semana              365 non-null    float64
 6   Consumo de cerveja (litros)  365 non-null    float64
dtypes: float64(2), object(5)
memory usage: 51.6+ KB

In [3]:
df_consumo_cerveja

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900
...,...,...,...,...,...,...,...
936,NaN,NaN,NaN,NaN,NaN,NaN,NaN
937,NaN,NaN,NaN,NaN,NaN,NaN,NaN
938,NaN,NaN,NaN,NaN,NaN,NaN,NaN
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Entendimento e Pré-Processamento

In [4]:
df_consumo_cerveja_limpo = df_consumo_cerveja.copy()

## Campos Nulos

In [5]:
df_consumo_cerveja_limpo.isnull().sum()

Data                           576
Temperatura Media (C)          576
Temperatura Minima (C)         576
Temperatura Maxima (C)         576
Precipitacao (mm)              576
Final de Semana                576
Consumo de cerveja (litros)    576
dtype: int64

In [6]:
df_consumo_cerveja_limpo.isnull()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
936,True,True,True,True,True,True,True
937,True,True,True,True,True,True,True
938,True,True,True,True,True,True,True
939,True,True,True,True,True,True,True
940,True,True,True,True,True,True,True

In [7]:
df_consumo_cerveja_limpo = df_consumo_cerveja_limpo.dropna(how='all').copy()
df_consumo_cerveja_limpo

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900
...,...,...,...,...,...,...,...
360,2015-12-27,24,"21,1","28,2","13,6",1.0,32.307
361,2015-12-28,"22,64","21,1","26,7",0,0.0,26.095
362,2015-12-29,"21,68","20,3","24,1","10,3",0.0,22.309
363,2015-12-30,"21,38","19,3","22,4","6,3",0.0,20.467
364,2015-12-31,"24,76","20,2",29,0,0.0,22.446

## Renomeando colunas

In [8]:
df_consumo_cerveja_limpo.columns = ['data', 'temp_media_c', 'temp_min_c', 'temp_max_c', 'precipitacao_mm', 'fds', 'consumo_L']
df_consumo_cerveja_limpo

,data,temp_media_c,temp_min_c,temp_max_c,precipitacao_mm,fds,consumo_L
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900
...,...,...,...,...,...,...,...
360,2015-12-27,24,"21,1","28,2","13,6",1.0,32.307
361,2015-12-28,"22,64","21,1","26,7",0,0.0,26.095
362,2015-12-29,"21,68","20,3","24,1","10,3",0.0,22.309
363,2015-12-30,"21,38","19,3","22,4","6,3",0.0,20.467
364,2015-12-31,"24,76","20,2",29,0,0.0,22.446

## Análise por Coluna

### data

In [9]:
df_consumo_cerveja_limpo[['data']]

           data
0    2015-01-01
1    2015-01-02
2    2015-01-03
3    2015-01-04
4    2015-01-05
..          ...
360  2015-12-27
361  2015-12-28
362  2015-12-29
363  2015-12-30
364  2015-12-31

[365 rows x 1 columns]

In [10]:
df_consumo_cerveja_limpo[['data']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    365 non-null    object
dtypes: object(1)
memory usage: 5.7+ KB

Este campo deverá ser do tipo date.

In [11]:
df_aux = df_consumo_cerveja_limpo[['data']].copy()
df_aux['data'] = pd.to_datetime(df_aux['data']).dt.date
df_aux

           data
0    2015-01-01
1    2015-01-02
2    2015-01-03
3    2015-01-04
4    2015-01-05
..          ...
360  2015-12-27
361  2015-12-28
362  2015-12-29
363  2015-12-30
364  2015-12-31

[365 rows x 1 columns]

Para fins de análise, seria interessante a extração do dia da semana e do mês.

In [12]:
alias_dia_semana = {
    0 : 'segunda-feira',
    1 : 'terça-feira',
    2 : 'quarta-feira',
    3 : 'quinta-feira',
    4 : 'sexta-feira',
    5 : 'sabado',
    6 : 'domingo'
}

df_aux['dia_semana'] = [data.weekday() for data in df_aux['data']]
df_aux['dia_semana'].replace(alias_dia_semana, inplace=True)
df_aux['dia_semana'] = pd.Categorical(df_aux['dia_semana'])
df_aux['dia_semana'].unique()

['quinta-feira', 'sexta-feira', 'sabado', 'domingo', 'segunda-feira', 'terça-feira', 'quarta-feira']
Categories (7, object): ['quinta-feira', 'sexta-feira', 'sabado', 'domingo', 'segunda-feira', 'terça-feira', 'quarta-feira']

In [13]:
alias_mes = {
    1  : 'janeiro',
    2  : 'fevereiro',
    3  : 'março',
    4  : 'abril',
    5  : 'maio',
    6  : 'junho',
    7  : 'julho',
    8  : 'agosto',
    9  : 'setembro',
    10 : 'outubro',
    11 : 'novembro',
    12 : 'dezembro'
}

df_aux['mes'] = [data.month for data in df_aux['data']]
df_aux['mes'].replace(alias_mes, inplace=True)
df_aux['mes'] = pd.Categorical(df_aux['mes'])
df_aux['mes'].unique()

['janeiro', 'fevereiro', 'março', 'abril', 'maio', ..., 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']
Length: 12
Categories (12, object): ['janeiro', 'fevereiro', 'março', 'abril', ..., 'setembro', 'outubro', 'novembro', 'dezembro']

In [14]:
df_consumo_cerveja_limpo['data'] = df_aux['data']
df_consumo_cerveja_limpo['dia_semana'] = df_aux['dia_semana']
df_consumo_cerveja_limpo['mes'] = df_aux['mes']
df_consumo_cerveja_limpo = df_consumo_cerveja_limpo[['data', 'dia_semana', 'mes', 'fds','temp_media_c', 'temp_min_c', 'temp_max_c', 'precipitacao_mm','consumo_L']]
df_consumo_cerveja_limpo

,data,dia_semana,mes,fds,temp_media_c,temp_min_c,temp_max_c,precipitacao_mm,consumo_L
0,2015-01-01,quinta-feira,janeiro,0.0,"27,3","23,9","32,5",0,25.461
1,2015-01-02,sexta-feira,janeiro,0.0,"27,02","24,5","33,5",0,28.972
2,2015-01-03,sabado,janeiro,1.0,"24,82","22,4","29,9",0,30.814
3,2015-01-04,domingo,janeiro,1.0,"23,98","21,5","28,6","1,2",29.799
4,2015-01-05,segunda-feira,janeiro,0.0,"23,82",21,"28,3",0,28.900
...,...,...,...,...,...,...,...,...,...
360,2015-12-27,domingo,dezembro,1.0,24,"21,1","28,2","13,6",32.307
361,2015-12-28,segunda-feira,dezembro,0.0,"22,64","21,1","26,7",0,26.095
362,2015-12-29,terça-feira,dezembro,0.0,"21,68","20,3","24,1","10,3",22.309
363,2015-12-30,quarta-feira,dezembro,0.0,"21,38","19,3","22,4","6,3",20.467
364,2015-12-31,quinta-feira,dezembro,0.0,"24,76","20,2",29,0,22.446

In [15]:
df_consumo_cerveja_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data             365 non-null    object
 1   dia_semana       365 non-null    category
 2   mes              365 non-null    category
 3   fds              365 non-null    float64
 4   temp_media_c     365 non-null    object
 5   temp_min_c       365 non-null    object
 6   temp_max_c       365 non-null    object
 7   precipitacao_mm  365 non-null    object
 8   consumo_L        365 non-null    float64
dtypes: category(2), float64(2), object(5)
memory usage: 24.3+ KB

### fds

In [16]:
df_consumo_cerveja_limpo.fds.unique()

array([0., 1.])

In [17]:
df_consumo_cerveja_limpo.fds

0      0.0
1      0.0
2      1.0
3      1.0
4      0.0
      ...
360    1.0
361    0.0
362    0.0
363    0.0
364    0.0
Name: fds, Length: 365, dtype: float64

Por ser um campo flag, deverá ser um int categorico

In [18]:
df_aux = df_consumo_cerveja_limpo[['fds']].copy()
df_aux['fds'] = pd.Categorical(df_aux.fds.astype(int), ordered=False)
df_aux['fds']

0      0
1      0
2      1
3      1
4      0
      ..
360    1
361    0
362    0
363    0
364    0
Name: fds, Length: 365, dtype: category
Categories (2, int64): [0, 1]

In [19]:
df_consumo_cerveja_limpo['fds'] = df_aux['fds']
df_consumo_cerveja_limpo['fds']

0      0
1      0
2      1
3      1
4      0
      ..
360    1
361    0
362    0
363    0
364    0
Name: fds, Length: 365, dtype: category
Categories (2, int64): [0, 1]

### temp_media_c

In [20]:
df_consumo_cerveja_limpo['temp_media_c']

0       27,3
1      27,02
2      24,82
3      23,98
4      23,82
       ...
360       24
361    22,64
362    21,68
363    21,38
364    24,76
Name: temp_media_c, Length: 365, dtype: object

Este campo deverá ser do tipo float

In [21]:
df_aux = df_consumo_cerveja_limpo[['temp_media_c']].copy()
df_aux['temp_media_c'].replace(to_replace=',', value='.', regex=True, inplace=True)
df_aux['temp_media_c'] = df_aux['temp_media_c'].astype(float)
df_aux['temp_media_c']

0      27.30
1      27.02
2      24.82
3      23.98
4      23.82
       ...
360    24.00
361    22.64
362    21.68
363    21.38
364    24.76
Name: temp_media_c, Length: 365, dtype: float64

In [22]:
df_consumo_cerveja_limpo['temp_media_c'] = df_aux['temp_media_c']
df_consumo_cerveja_limpo['temp_media_c']

0      27.30
1      27.02
2      24.82
3      23.98
4      23.82
       ...
360    24.00
361    22.64
362    21.68
363    21.38
364    24.76
Name: temp_media_c, Length: 365, dtype: float64


### temp_min_c

In [23]:
df_consumo_cerveja_limpo['temp_min_c']

0      23,9
1      24,5
2      22,4
3      21,5
4        21
       ...
360    21,1
361    21,1
362    20,3
363    19,3
364    20,2
Name: temp_min_c, Length: 365, dtype: object

Este campo deverá ser do tipo float

In [24]:
df_aux = df_consumo_cerveja_limpo[['temp_media_c']].copy()
df_aux['temp_media_c'].replace(to_replace=',', value='.', regex=True, inplace=True)
df_consumo_cerveja_limpo['temp_media_c'] = df_aux['temp_media_c'].astype(float)
df_consumo_cerveja_limpo['temp_media_c']

0      27.30
1      27.02
2      24.82
3      23.98
4      23.82
       ...
360    24.00
361    22.64
362    21.68
363    21.38
364    24.76
Name: temp_media_c, Length: 365, dtype: float64

### temp_max_c

In [25]:
df_consumo_cerveja_limpo['temp_max_c']

0      32,5
1      33,5
2      29,9
3      28,6
4      28,3
       ...
360    28,2
361    26,7
362    24,1
363    22,4
364      29
Name: temp_max_c, Length: 365, dtype: object

Este campo deverá ser do tipo float.

In [26]:
df_aux = df_consumo_cerveja_limpo[['temp_max_c']].copy()
df_aux['temp_max_c'].replace(to_replace=',', value='.', regex=True, inplace=True)
df_consumo_cerveja_limpo['temp_max_c'] = df_aux['temp_max_c'].astype(float)
df_consumo_cerveja_limpo['temp_max_c']

0      32.5
1      33.5
2      29.9
3      28.6
4      28.3
       ...
360    28.2
361    26.7
362    24.1
363    22.4
364    29.0
Name: temp_max_c, Length: 365, dtype: float64

### precipitacao_mm

In [27]:
df_consumo_cerveja_limpo['precipitacao_mm']

0         0
1         0
2         0
3       1,2
4         0
       ...
360    13,6
361       0
362    10,3
363     6,3
364       0
Name: precipitacao_mm, Length: 365, dtype: object

Este campo deverá ser do tipo float

In [28]:
df_aux = df_consumo_cerveja_limpo[['precipitacao_mm']].copy()
df_aux['precipitacao_mm'].replace(to_replace=',', value='.', regex=True, inplace=True)
df_consumo_cerveja_limpo['precipitacao_mm'] = df_aux['precipitacao_mm'].astype(float)
df_consumo_cerveja_limpo['precipitacao_mm']

0       0.0
1       0.0
2       0.0
3       1.2
4       0.0
       ...
360    13.6
361     0.0
362    10.3
363     6.3
364     0.0
Name: precipitacao_mm, Length: 365, dtype: float64

### consumo_L

In [29]:
df_consumo_cerveja_limpo['consumo_L']

0      25.461
1      28.972
2      30.814
3      29.799
4      28.900
        ...
360    32.307
361    26.095
362    22.309
363    20.467
364    22.446
Name: consumo_L, Length: 365, dtype: float64

Este campo está formatado da forma errada. O ponto é para diferenciar a casa do milhar, porém é do tipo float, logo o que deveria ser 25461 litros se torna 25,4 litros.

In [30]:
df_aux = df_consumo_cerveja_limpo[['consumo_L']].copy()
df_aux['consumo_L'] = df_aux.consumo_L.astype(str)
df_aux.consumo_L.replace(to_replace='\.', value='', inplace=True, regex=True)
df_aux['consumo_L'] = df_aux.consumo_L.astype(int)
df_aux.consumo_L

0      25461
1      28972
2      30814
3      29799
4        289
       ...
360    32307
361    26095
362    22309
363    20467
364    22446
Name: consumo_L, Length: 365, dtype: int64

In [31]:
df_consumo_cerveja_limpo['consumo_L'] = df_aux.consumo_L
df_consumo_cerveja_limpo['consumo_L']

0      25461
1      28972
2      30814
3      29799
4        289
       ...
360    32307
361    26095
362    22309
363    20467
364    22446
Name: consumo_L, Length: 365, dtype: int64

## Validando limpeza

In [32]:
df_informativo = df_consumo_cerveja_limpo.iloc[0]\
                    .to_frame()\
                    .reset_index()\
                    .rename(columns={0:'exemplo', 'index': 'coluna'})\
                    .set_index('coluna')\
                .merge(\
                    pd.DataFrame(df_consumo_cerveja_limpo.dtypes)\
                        .reset_index()\
                        .rename(columns={0:'tipo', 'index': 'coluna'})\
                        .set_index('coluna'),\
                    on='coluna')\
                .reset_index()

df_informativo

            coluna       exemplo      tipo
0             data    2015-01-01    object
1       dia_semana  quinta-feira  category
2              mes       janeiro  category
3              fds             0  category
4     temp_media_c          27.3   float64
5       temp_min_c          23,9    object
6       temp_max_c          32.5   float64
7  precipitacao_mm           0.0   float64
8        consumo_L         25461     int64