# Atividade em Dupla 1

## Descrição dâ base de dâdos escolhida:

### O que signigica cada linha de cada arquivo?

In [35]:
# Resposta

### Quais são os principais atributos (colunas) e seus tipos?

In [35]:
# Resposta

## Descrição da base de dados escolhida:

### Teve dificuldades para preparar o dataset para uso? (nomes ruins para colunas, arquivos dos datasets não possuíam boa organização?)

In [35]:
# Resposta

### Aplicou algum pré-processamento nos dados?

In [35]:
# Resposta




## Análise Exploratória

In [36]:
# Carregando bibliotecas
import pandas as pd
import os

### Loading MovieLens DFs

In [37]:
# Getting current working directory
main_path = os.getcwd()

# Building file paths 
path_movielens_movies = main_path + '/movielens/movies.csv'
path_movielens_ratings = main_path + '/movielens/ratings.csv'
path_movielens_tags = main_path + '/movielens/tags.csv'

# Loading files into DFs
df_movies = pd.read_csv(path_movielens_movies)
df_ratings = pd.read_csv(path_movielens_ratings)
df_tags = pd.read_csv(path_movielens_tags)

### Checking DFs

In [30]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [33]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [32]:
df_tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

### Pergunta 1 – Existe alguma correlação entre o ano de lançamento do filme e sua avaliação média (média de ratings)?

### Pergunta 2 – Qual o grupo mais disperso, o de usuários que avaliaram ou o de usuários que rotularam filmes?

### Pergunta 3 – Qual a categoria rotulada mais frequente?

### Pergunta 4 – Como estão distribuídas as avaliações ao longo do tempo?